*{
    margin:0;
    padding:0;
}

body{
    overflow:hidden;
}

#canvas {
    position:fixed;
    left:0;
    top:0;
}

ul, ol{
    list-style:none;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

#actions {
    position:fixed;
    left:0;
    top:0;
    padding:20px;
}

#actions svg {
    width:2em;
    height:2em;
    margin:0 8px;
    transition:all .3s;
}

#actions svg.active{
    fill:red;
    transform:scale(1.2);

}

.colors {
    position:fixed;
    top:60px;
    left:30px;

}

.colors li{
    width:20px;
    height:20px;
    border:2px solid rgba(0,0,0,0);
    border-radius:50%;
    margin:10px 0;

}

.colors li.red{
    background-color:red;
}
.colors li.green{
    background-color:green;
}
.colors li.blue{
    background-color:blue;
}

.colors li.active {
    border:2px dotted #333; 
}

.sizes {
    position:fixed;
    top:5px;
    right:10px;
}

.sizes li{
    margin:20px 0;
}

.sizes .thin{
    width:35px;
    height:3px;
    background-color:#666;
}

.sizes .thick{
    width:35px;
    height:10px;
    background-color:#666;
}